<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
    <div class="container">
      <div class="row">

        <!--Column1-->
        <!-- <div class="footer-pad">
              <h4>Locate Us</h4>
              <div class="map-responsive">
                <iframe
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France"
                  width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div> -->

        <div class="col-lg-4 col-md-6">
          <div class="footer-about mt-40">
            <div class="logo">
              <a href="#"><img src="assets/NC_LOGO.png" alt="Logo"></a>
            </div>
            <p class="text-light">Gravida nibh vel velit auctor aliquetn quibibendum auci elit cons equat ipsutis sem
              nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
            <ul class="mt-4">
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div> <!-- footer about -->
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-link mt-40">
            <div class="footer-title pb-25">
              <h6>Useful links</h6>
            </div>
            <ul>
              <li><a href="index-2.html"><i class="fa fa-angle-right"></i>Home</a></li>
              <li><a href="about.html"><i class="fa fa-angle-right"></i>About us</a></li>
              <li><a href="courses.html"><i class="fa fa-angle-right"></i>Courses</a></li>
              <li><a href="blog.html"><i class="fa fa-angle-right"></i>News</a></li>
              <li><a href="events.html"><i class="fa fa-angle-right"></i>Event</a></li>
            </ul>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>Gallery</a></li>
              <li><a href="shop.html"><i class="fa fa-angle-right"></i>Shop</a></li>
              <li><a href="teachers.html"><i class="fa fa-angle-right"></i>Teachers</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
              <li><a href="contact.html"><i class="fa fa-angle-right"></i>Contact</a></li>
            </ul>
          </div> <!-- footer link -->
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="footer-link support mt-40">
            <div class="footer-title pb-25">
              <h6>Support</h6>
            </div>
            <ul>
              <li><a href="#"><i class="fa fa-angle-right"></i>FAQS</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Privacy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Policy</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Support</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i>Documentation</a></li>
            </ul>
          </div> <!-- support -->
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-address mt-40">
              <div class="footer-title pb-25">
                  <h6>Contact Us</h6>
              </div>
              <ul>
                  <li>
                      <div class="icon">
                          <i class="fa fa-home"></i>
                      </div>
                      <div class="cont">
                          <p>Post.-Nagar,P.S.-Khargram,
                            Sub-Division- Kandi,dist.-Murshidabad,
                            PIN-742159, West Bengal.</p>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m29!1m12!1m3!1d116508.1309540765!2d88.12658569999999!3d24.1408839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m14!1i0!3e6!4m5!1s0x39f988588f8178ab%3A0xca59ba34c8452fbe!2zTmFnYXIgQ29sbGVnZSwgU3RhdGUgSGlnaHdheSA3LCDgpqjgppfgprAsIFdlc3QgQmVuZ2FsIDc0MjE1OQ!3m2!1d24.083935!2d87.985393!4m5!1s0x39f97dd5c0281a4d%3A0xcde56981df08cd8!2sBerhampore%2C+West+Bengal!3m2!1d24.098826499999998!2d88.2679264!5e0!3m2!1sen!2sin!4v1424235709584" width="300" height="150" frameborder="0" style="border: 0; margin-left: 15px;"></iframe>
                      </div>
                  </li>
                  <li>
                      <div class="icon">
                          <i class="fa fa-phone"></i>
                      </div>
                      <div class="cont">
                          <p>+3 123 456 789</p>
                      </div>
                  </li>
                  <li>
                      <div class="icon">
                          <i class="fa fa-envelope-o"></i>
                      </div>
                      <div class="cont">
                          <p>info@yourmail.com</p>
                      </div>
                  </li>
              </ul>
          </div> <!-- footer address -->
      </div>
      </div>
      <div class="row">
        <div class="col-md-12 copy">
          <p class="text-center">&copy; Copyright {{date}} - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>